.homeMsg {
	margin-top: -40px;
	text-align: center;
	font-size: 70px;
	width: 90%;
}

@font-face {
	font-family: "QueryGrand";
	src: url("resources/Querygrand-BWyAG.ttf");
}

.profPic {
	margin-top: 50px;
	border-radius: 50%;
	height: 220px;
	margin-bottom: 0px;
}
.userInfo {
	margin-top: -50px;
	margin-bottom: -20px;
}
.userInfo h1 {
	margin-top: 0px;

	text-align: center;
}

.bubbles {
	display: grid;
	grid-template-columns: 240px 240px 240px 240px;
	justify-items: center;
	grid-gap: 20px;
	align-items: center;
	align-self: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) /* applied to lg also */ {
	.bubbles {
		grid-template-columns: 240px 240px;
	}
}

@media only screen and (max-width: 600px) {
	.homeMsg {
		margin-top: 20px;
		text-align: left;
		margin-left: 40px;
		font-size: 50px;
	}
	.bubbles {
		grid-template-columns: 240px;
	}
}

.bubble {
	padding: 0;
}

.bubble h6 {
	margin-top: 0px;
	text-align: center;
}

.bubbleImg {
	height: 60px;
	margin-bottom: 10px;
}
.bubbleImg.white {
	filter: invert(1);
}

.tableArtists {
	display: block;
	font-size: 13px;
}

.login {
	background-color: #212121;
	color: #1db954;
	border: none;
	font-size: 18px;
	padding: 0px 40px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 30px;
	margin-top: 20px;
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
}

.logout {
	padding: 10px 20px;
	background-color: #ff0000;
	border: none;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: 600;
	cursor: pointer;
	color: white;
}

.game {
	background-color: #27213c;

	color: white;
	border: none;
	font-size: 27px;
	padding: 30px 20px;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;
	display: inline-block;
	font-weight: 300;
	cursor: pointer;
	border-radius: 10px;
	transition-duration: 0.3s;
}
.game:hover {
	background-color: #f5f5dc;

	color: black;
}

.accGrid {
	display: grid;
	grid-auto-flow: column;
}

.loginSpot {
	margin-right: 10px;
	height: 40px;
	vertical-align: middle;
}

.nav {
	background-color: transparent;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	height: 220px;
	border: none;
}

.icons {
	height: 30px;
	cursor: pointer;
	filter: invert(1);
	margin-right: 10px;
}

.do {
	display: flex;
	justify-content: center;
}

.logo {
	padding-top: 20px;
	height: 150px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
.tableImage {
	height: 60px;
	padding-top: 15px;
}

.tableImageArt {
	height: 200px;
	padding-top: 15px;
	justify-items: center;
	cursor: pointer;
}
.artistBubble {
	justify-items: center;
}
.artistBubble h5 {
	margin-top: 10px;
	text-align: center;
	width: fit-content;
}
.artistBubble h5 a {
	color: white;
	text-decoration: none;
}
.artistBubble:hover.artistBubble h5 a {
	color: #1db954;
	text-decoration: underline;
}

.tableItemsArt {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0px;
}
.scoreCard {
	padding: 10px 10px;
}
.scoreCard.four {
	background-color: #1db954;
}
.scoreCard.three {
	background-color: rgb(201, 178, 4);
}
.scoreCard.two {
	background-color: #d04d15;
}
.scoreCard.one {
	background-color: #c03a1b;
}
.scoreCard.zero {
	background-color: #c71414;
}
@media only screen and (max-width: 600px) {
	.tableItemsArt {
		grid-template-columns: 1fr 1fr;
	}
	.game {
		font-size: 18px;
		padding: 20px 10px;
	}
	.tableImageArt {
		height: 150px;
	}
}

table {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.tableName {
	text-align: left;
	padding-left: 10px;
}

.songLink {
	color: white;
	text-decoration: none;
}
.songLink:hover {
	color: brown;
	text-decoration: underline;
}

.exp {
	height: 15px;
	margin-top: 0px;
}
.App {
	background-image: url("./components/images/giphy.gif");
	background-size: cover;
	background-color: #1b1b1b;
	min-height: 80vh;
	padding-top: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App.logged-in {
	background-image: none;
	background-color: #1b1b1b;
}

.WRAP {
	display: flex;
	justify-content: center;
	align-items: center;
}

.artists {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	justify-content: center;
}

.rank {
	padding-right: 15px;
	padding-left: 30px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) /* applied to lg also */ {
	table {
		width: 85%;
	}
}

@media only screen and (max-width: 600px) {
	table {
		width: 100%;
	}
	.rank {
		padding-left: 15px;
		padding-right: 10px;
	}
}

.artist {
	width: 60%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.artist h3 {
	color: antiquewhite;
	float: right;
	width: 60%;
}

.artistPic {
	margin-top: 30px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

.playlists {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	justify-content: center;
}

.playlist {
	width: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.playlist h3 {
	color: antiquewhite;
	float: right;
	width: 60%;
}

.playlistPic {
	margin-top: 30px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

.TopG {
	margin-right: 10px;
	display: flex;
}

.listTrack.active {
	background-color: #f5f5dc;
	color: #212121;
}

.listGenre.active {
	background-color: #f5f5dc;
	color: #212121;
}

.listArt.active {
	background-color: #f5f5dc;
	color: #212121;
}

.TopG li {
	margin-right: 20px;
	list-style: none;
	background-color: #212121;
	color: #f5f5dc;
	font-size: 18px;
	font-weight: 600;
	padding: 7px 20px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	border-radius: 16px;
}
.TopG li:hover {
	text-decoration: underline;
}

.timePeriods {
	list-style: none;
	display: grid;
	margin-top: 0px;
	grid-auto-flow: column;
	background-color: #d01c1f;
	justify-content: center;
	padding: 7px 15px;
	border-radius: 10px;
	color: #f5f5dc;
	margin-bottom: 20px;
}
.vl {
	border-left: 0.1px solid #f5f5dc;
	height: 26px;
	margin-right: 10px;
}

.timePeriods li {
	margin-right: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 18px;
	justify-items: center;

	text-align: center;
}

.timePeriods li:hover {
	text-decoration: underline;
}

.activeTimeRange {
	text-decoration: underline;
}

.privacy {
	margin-top: -10px;
	text-align: center;
}
.privacy h4 {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: white;
}
.personalData {
	color: #0a62c7;
}
.privacy p {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.mainPriv {
	color: #1db954;
}

@media only screen and (max-width: 600px) {
	.TopG {
		margin-top: 40px;
		margin-bottom: 40px;

		display: grid;
		grid-auto-flow: row;
		grid-gap: 15px;
	}
	.TopG li {
		padding: 7px 90px;
	}
}

.headGame {
	margin-top: -140px;
	width: 60%;
	text-align: center;
}

.Options {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	justify-items: center;
	grid-gap: 15px;
}
.Options.active {
	pointer-events: none;
}

.Giffy {
	height: 300px;
	text-align: center;
}

.answer {
	text-align: center;
	margin-top: 0px;
	background-color: #1b1b1b;
}

.answer h1 {
	margin-top: 0px;
}

.linkToFriend {
	margin-top: 0px;
	font-weight: 500;
}

.linkToFriend a {
	color: #0a62c7;
}

.newGame {
	color: #f5f5dc;
	font-weight: 600;
	font-size: 15px;
}

.linkToFriend {
	color: white;
}

.Question h3 {
	margin-top: 70px;
}

.headGame h6 {
	margin-top: 10px;
	margin-bottom: 0px;
}
.songGame {
	cursor: pointer;
	color: white;
	border-radius: 5px;
	padding: 10px 10px;
	transition-duration: 0.5s;
}
.songGame:hover {
	background-color: rgb(97, 95, 95);
}

.songGame.correct {
	background-color: #2cb85d;
}

.songGame.wrong {
	background-color: brown;
}

.AlbumCover {
	height: 150px;
}

.artistQuestionh3 {
	padding-top: 50px;
}

.ArtistCover {
	height: 250px;
}

.artistQuestion {
	color: #d01c1f;
}

.nextQuestion {
	padding: 20px 30px;
	border: none;
	background-color: #27213c;
	color: #f5f5dc;
	margin-top: 40px;
	cursor: pointer;
	font-size: 18px;
	margin-bottom: 0px;
	border-radius: 10px;
	font-weight: 600;
	transition-duration: 0.3s;
}

.nextIcon {
	vertical-align: middle;
	margin-left: 10px;
	height: 30px;
}

.linkContainer {
	padding-top: 30px;
}

.linktoMain {
	color: #f5f5dc;
}

.Play.unavailable {
	opacity: 50%;
	cursor: default;
}

.Play {
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
}

.Play h5 {
	margin-top: 10px;
}

.PlayIcon {
	filter: invert(1);
	height: 200px;
}

@media only screen and (max-width: 600px) {
	.headGame {
		margin-top: -50px;
	}
	.Giffy {
		height: 200px;
	}

	.Options {
		grid-auto-flow: row;
	}
	.nextQuestion {
		font-size: 16px;
		padding: 10px 50px;
	}
}

.site-footer {
	height: 40px;
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 0px;
	padding-bottom: 15px;
	color: white;
	background-color: #212121;
	display: flex;
	justify-content: center;
	align-items: center;
}

.site-footer h4 {
	margin-bottom: 10px;
}

.credit {
	margin-top: 10px;
}
.GitHub {
	height: 30px;
	margin-top: 17px;
	filter: invert(1);
	margin-left: 20px;
}

.othman {
	margin-left: 20px;
	color: lightgreen;
	background-color: #1d2952;
	text-decoration: none;
	padding: 5px 5px;
	border-radius: 5px;
	max-width: 10px;
	transition-duration: 0.3s;
}
.othman:hover {
	color: #1d2952;
	background-color: lightgreen;
	text-decoration-thickness: 2px;
	font-weight: 600;
}
